In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

### Store CSV into DataFrame

In [2]:
#import world Happiness
csv_file = "../2016happiness.csv"
happiness_df = pd.read_csv(csv_file)
happiness_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [3]:
#import Suicides
csv_file = "../Suicide.csv"
suicide_df = pd.read_csv(csv_file)
suicide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

### Clean data and create new data with select columns

In [6]:
# trim happiness to Country for my join and keep only the columns I wanted
happy_country = happiness_df.drop(columns=["Dystopia Residual","Economy (GDP per Capita)","Region", "Happiness Rank", "Lower Confidence Interval", "Upper Confidence Interval","Economy (GDP per Capita)","Trust (Government Corruption)" ])
happy_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 6 columns):
Country                     157 non-null object
Happiness Score             157 non-null float64
Family                      157 non-null float64
Health (Life Expectancy)    157 non-null float64
Freedom                     157 non-null float64
Generosity                  157 non-null float64
dtypes: float64(5), object(1)
memory usage: 7.5+ KB

In [9]:
happy_country.rename(columns = {'Country':'country','Happiness Score':'happiness_score','Family':'family','Health (Life Expectancy)':'health','Freedom': 'freedom', 'Generosity':'generosity'}, inplace = True)
happy_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 6 columns):
country            157 non-null object
happiness_score    157 non-null float64
family             157 non-null float64
health             157 non-null float64
freedom            157 non-null float64
generosity         157 non-null float64
dtypes: float64(5), object(1)
memory usage: 7.5+ KB

In [6]:
#trim suicide and get only 2016 data since the happiness data I had was only for 2016
suicide2016 = suicide_df[(suicide_df['year']==2016)]
suicide2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 1248 to 25311
Data columns (total 12 columns):
country               160 non-null object
year                  160 non-null int64
sex                   160 non-null object
age                   160 non-null object
suicides_no           160 non-null int64
population            160 non-null int64
suicides/100k pop     160 non-null float64
country-year          160 non-null object
HDI for year          0 non-null float64
 gdp_for_year ($)     160 non-null object
gdp_per_capita ($)    160 non-null int64
generation            160 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 16.2+ KB

In [11]:
# trim 2016 suicide columns I don't need
suicide2016 = suicide2016.drop(columns=[" gdp_for_year ($) ","year","suicides/100k pop","country-year","HDI for year","gdp_per_capita ($)","generation", "sex","age"])
suicide2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 1248 to 25311
Data columns (total 3 columns):
country        160 non-null object
suicides_no    160 non-null int64
population     160 non-null int64
dtypes: int64(2), object(1)
memory usage: 5.0+ KB

### Connect to local database

In [11]:
#rds_connection_string = f"{dbuser}<insert user name>:<insert password>@localhost:5432/customer_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')
password = "Hooch#12"
dbuser = "postgres"
rds_connection_string = f"{dbuser}:{password}@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [12]:
engine.table_names()

['suicide2016', 'happy_country']

### Use pandas to load csv converted DataFrame into database

In [16]:
suicide2016.to_sql(name='suicide2016', con=engine, if_exists='append', index=False)

In [13]:
happy_country.to_sql(name='happy_country', con=engine, if_exists='append', index=False)